<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles/livepp.css">
  </head>
  <body>
    <div class="right-container">
      <div id="pp-counter-container"></div>
    </div>
    <script src="/static/scripts/dependencies/anime.min.js"></script>
    <script src="/static/scripts/livepp.js"></script>
  </body>
</html>
